.custom-mat-icon-button {
    padding: 0px !important;
    min-width: 40px !important;
    line-height: 2.4 !important;

    .mat-icon {
        width: 20px !important;
        height: 20px !important;
        font-size: 20px !important;
    }
}