.mat-tab-label {
    font-size: 12px !important;
    min-width: 120px !important;
    padding: 0 10px !important;
    height: 35px !important;
    opacity: 0.8 !important;
    font-weight: 400 !important;
}
