
<mat-card  >
    <div fxLayoutAlign="space-between ">
        <mat-card-title> </mat-card-title>
        <mat-form-field appearance="fill">
            <mat-label>Filter</mat-label>
            <mat-select  [(value)]="selected"  (selectionChange)="selectFilter($event.value)">
              <mat-option *ngFor="let item of items" [value]="item.value" >
                {{item.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    
    <div echarts [options]="options" [loading]="isLoading" theme="macarons" class="demo-chart">
         
    </div>
</mat-card>

