
      <form [formGroup]="form" (ngSubmit)="save()" fxLayout="column wrap">
            <!-- <mat-card-title> Comment </mat-card-title> -->
            <mat-form-field flFlex="50">
                  <input matInput placeholder="Wirte your comment here " formControlName="comment" class="height-40px">
                  <mat-icon matSuffix>send</mat-icon>
            </mat-form-field>
      </form>


      <mat-card-content *ngFor="let item of commentList">


            <mat-card-header class="mt-16" fxLayout="row">

                  <div *ngIf="item.createdBy.photo" mat-card-avatar
                        style="background-image: url('{{item.createdBy.photo}}');     background-size: cover;width: 50px;height: 50px;"
                        matTooltip="{{item.createdBy.firstName+' '+item.createdBy.lastName}}">
                  </div>

                  <div *ngIf="!item.createdBy.photo" mat-card-avatar
                        style="background-image: url('assets/images/img.png');background-size: cover;width: 50px;height: 50px;">
                  </div>
                  <div fxLayout="column">
                        <mat-card-content>
                              {{item.comment}}
                        </mat-card-content>


                        <mat-card-subtitle>
                              {{item.createdBy.firstName+' '+item.createdBy.lastName}}
                              {{item.dateCreated | relativeTime}}
                        </mat-card-subtitle>    
                  </div>
                                    



            </mat-card-header>

            <mat-divider></mat-divider>


      </mat-card-content>




<!-- <mat-card>
      <mat-card-header>
            <mat-card-title>title</mat-card-title>
            <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      ad
      </mat-card-content>
      <mat-card-actions>
            <button mat-button>Ok</button>
      </mat-card-actions>
</mat-card> -->