.font {
    font-weight: bold;
}

.underline-text {
    text-decoration: underline;
    font-weight: bold;
    position: relative;
    top: 10px;
}

.border {
    background-color: #dddddd87;
    padding: 0px 0px 0px 4px;
}


.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }