<!-- Summary Section -->
<mat-card class="p-0" >
      <div fxLayout="row wrap">
            <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.sm="50">
                  <div class="text-center pt-1 pb-1 border-right-light">
                        <mat-icon class="text-green">book</mat-icon>
                        <h4 class="m-0 ">{{projectSummary?.totalProject}}</h4>
                        <small class="m-0 ">Total Project</small>
                  </div>
            </div>
            <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.sm="50">
                  <div class="text-center pt-1 pb-1 border-right-light">
                        <mat-icon class="text-blue">monetization_on</mat-icon>
                        <h4 class="m-0 ">{{projectSummary?.totalReceived | currency }}</h4>
                        <small class="m-0 ">Total Receive </small>
                  </div>
            </div>
            <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.sm="50">
                  <div class="text-center pt-1 pb-1 border-right-light">
                        <mat-icon class="text-green">credit_card</mat-icon>
                        <h4 class="m-0 ">{{projectSummary?.totalExpanse | currency }}</h4>
                        <small class="m-0 ">Total Expanse</small>
                  </div>
            </div>
            <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.sm="50">
                  <div class="text-center pt-1 pb-1 border-right-light">
                        <mat-icon class="text-blue">account_balance_wallet</mat-icon>
                        <h4 class="m-0 ">{{projectSummary?.balance | currency }}</h4>
                        <small class="m-0 ">Total Balance</small>
                  </div>
            </div>

      </div>
</mat-card>

<!--  -->
<div fxLayout="row wrap">

      <!-- project list -->
      <app-dashboard-dailly-summary-chart fxFlex="50"></app-dashboard-dailly-summary-chart>

      <mat-card fxFlex="48" >
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                  [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
      </mat-card>
      <app-dashboard-todo fxFlex='50'></app-dashboard-todo>

      <app-dashboard-project-budget-summary fxFlex="48">
      
      </app-dashboard-project-budget-summary>

    
      <!-- Donut chart -->
      <!-- <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="50"
            [@animate]="{ value: '*', params: { y: '50px', delay: '400ms' } }">
            <mat-card class="p-0 ">
                  <p class=" ml-1 mt-1">TRAFFIC SOURCES</p>
                  <div echarts [options]="trafficSourcesChart" [autoResize]="true" style="height: 250px;"></div>
            </mat-card>
      </div> -->
    
</div>


<!-- <app-dashboard-project-summary-chart></app-dashboard-project-summary-chart> -->