.bg-dark-blue{
      background: rgba(16, 23, 76, 0.96) !important;
      color: rgba(255, 255, 255, 0.87);
}
.font-color-primary
{
      color:#3F51B5;
}
.font-color-accent
{
      color: #FF3D57
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}