<form [formGroup]="form" (ngSubmit)="save()">
<div fxLayout="row">
      <div fxFlex="50">
            <app-breadcrumb></app-breadcrumb>
      </div>
      <div fxLayout="row" fxLayoutGap="8px" fxFlex="50" fxLayoutAlign="end center">
        <button
          mat-raised-button
          type="button"
          class="mr-05"
          *ngIf="!isLoading"
          routerLink="/expanse-item"> Cancel
        </button>
        <button-loading
          [loadingText]="'Saving...'"
          color="primary"
          [type]="'submit'"
          [loading]="isLoading"> Save
        </button-loading>

      </div>
</div>
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-between" class="order-info">
          <div fxLayout="column" fxFlex="33.33%">


            <mat-form-field class="example-full-width">
              <input type="text"
                     placeholder="Expanse Item Type"
                     aria-label="Number"
                     matInput
                     [formControl]="expTypeCtl"
                     [matAutocomplete]="auto"                     
                     (keyup)="expTypeService.listData($event.target.value)" #name>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayExpanseType" (optionSelected)="selectedExpanse($event.option.value)">
                <mat-option *ngFor="let option of expTypeService.store " [value]="option" >
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


            <mat-form-field>
              <input matInput placeholder="Name" formControlName="name" required/>
            </mat-form-field>
  
            <mat-form-field>
              <textarea matInput rows="5" placeholder="Description" formControlName="description" required></textarea>
            </mat-form-field>
          </div>
        </div>
      
      </mat-card-content>
    </mat-card>
    </form>

    