<form [formGroup]="form"  (ngSubmit)="showConfirmSave()" style="width:500px">

      <mat-card-action fxLayout="row" class="bg-dark-blue" fxLayoutAlign="space-between start" >


            <button mat-icon-button class="ml-05" matTooltip="Back" (click)="backToPageProject()">
                  <mat-icon>arrow_back</mat-icon>
            </button>
            <mat-card-title class="mt-05">Expanse</mat-card-title>


            <button mat-icon-button matTooltip="Save Expanse" class="mr-05" type="submit">
                  <mat-icon>save</mat-icon>
            </button>
            


      </mat-card-action>
      <mat-card-content fxLayout="column" class="m-1">
                       
            <mat-form-field>
                  <input matInput placeholder="Requester" formControlName="requester" required #name>
            </mat-form-field>
            <mat-form-field>
                  <textarea matInput placeholder="Address" formControlName="address" required> </textarea>
            </mat-form-field>
            <mat-form-field>
                  <input matInput placeholder="Payment For" formControlName="paymentFor" required >
            </mat-form-field>
            <mat-form-field>
                  <input matInput [matDatepicker]="expanseDate" placeholder="Expanse Date (dd/mm/yyyy)" formControlName="expanseDate" required>
                  <mat-datepicker-toggle matSuffix [for]="expanseDate"></mat-datepicker-toggle>
                
                  <mat-datepicker #expanseDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Expanse Item" aria-label="Number" matInput [formControl]="expanseItemCtl"
                    [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayExpanseItem"
                    (optionSelected)="selectedExpanseItem($event.option.value)">
                    <mat-option *ngFor="let option of expanseItemService.store " [value]="option">
                      {{option.name}} |
                      <small>{{option.expTypeName}}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

            <label >Payment Options</label>
            <mat-radio-group formControlName="paymentOptions">
                  
                  <mat-radio-button value="Cheque">Cheque</mat-radio-button>
                  <mat-radio-button value="Credit">Credit Advice</mat-radio-button>
            </mat-radio-group>
            <mat-form-field>
                  <input matInput placeholder="Cheque No" formControlName="chequeNo">
            </mat-form-field>
            <mat-checkbox formControlName= 'isLiquidation' (change)="toggleReqeustAmount($event.checked)">Is Liquidation</mat-checkbox>
            
            <mat-form-field *ngIf="form.value.isLiquidation">
                  <input matInput placeholder="Request Amount" formControlName="requestAmount" type="number" >
            </mat-form-field> 
            <mat-form-field  *ngIf="form.value.isLiquidation">
                  <input matInput placeholder="Liquidation Times" formControlName="liquidationNo" type="number" >
            </mat-form-field> 
            <mat-form-field  *ngIf="form.value.isLiquidation">
                  <input matInput placeholder="Liquidation Amount" formControlName="liquidationAmount" type="number" >
            </mat-form-field>

            <mat-form-field>
                  <input matInput placeholder="Amount" formControlName="amount" type="number" required>
            </mat-form-field>
            <mat-form-field>
                  <input matInput placeholder="Amount In Word" formControlName="amountInWord" required>
            </mat-form-field>    
            <mat-form-field>
                  <input matInput placeholder="Receipt From" formControlName="receiptFrom">
            </mat-form-field>
           
            <mat-form-field>
                  <textarea matInput placeholder="Reference Description" formControlName="referenceDescription"> </textarea>
            </mat-form-field>

            <mat-form-field>
                  <textarea matInput placeholder="Note" formControlName="note"> </textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Approve By" aria-label="Number" matInput [formControl]="approvedCtl"
                    [matAutocomplete]="approved">
                  <mat-autocomplete autoActiveFirstOption #approved="matAutocomplete" [displayWith]="displayApproved"
                    (optionSelected)="selectedApproved($event.option.value)">
                    <mat-option *ngFor="let option of employeeService.store " [value]="option">
                      {{option.name}} |
                      <small>{{option.position}}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Verify By" aria-label="Number" matInput [formControl]="verifiedCtl"
                    [matAutocomplete]="verified">
                  <mat-autocomplete autoActiveFirstOption #verified="matAutocomplete" [displayWith]="displayExpanseItem"
                    (optionSelected)="selectedVerify($event.option.value)">
                    <mat-option *ngFor="let option of employeeService.store " [value]="option">
                      {{option.name}} |
                      <small>{{option.position}}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Certificate By" aria-label="Number" matInput [formControl]="certifiedCtl"
                    [matAutocomplete]="certified">
                  <mat-autocomplete autoActiveFirstOption #certified="matAutocomplete" [displayWith]="displayExpanseItem"
                    (optionSelected)="selectedCertify($event.option.value)">
                    <mat-option *ngFor="let option of employeeService.store " [value]="option">
                      {{option.name}} |
                      <small>{{option.position}}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Submit By" aria-label="Number" matInput [formControl]="submittedCtl"
                    [matAutocomplete]="submitted">
                  <mat-autocomplete autoActiveFirstOption #submitted="matAutocomplete" [displayWith]="displayExpanseItem"
                    (optionSelected)="selectedSubmit($event.option.value)">
                    <mat-option *ngFor="let option of employeeService.store " [value]="option">
                      {{option.name}} |
                      <small>{{option.position}}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

      </mat-card-content>
</form>