<form [formGroup]="form" (ngSubmit)="save()">
<div fxLayout="row">
      <div fxFlex="50">
            <app-breadcrumb></app-breadcrumb>
      </div>
      <div fxLayout="row" fxLayoutGap="8px" fxFlex="50" fxLayoutAlign="end center">
        <button
          mat-raised-button
          type="button"
          class="mr-05"
          *ngIf="!isLoading"
          routerLink="/project-status"> Cancel
        </button>
        <button-loading
          [loadingText]="'Saving...'"
          color="primary"
          [type]="'submit'"
          [loading]="isLoading"> Save
        </button-loading>

      </div>
</div>
    <mat-card>
      <mat-card-content>

        <div fxLayout="row wrap" class="order-info">
          <div fxLayout="column" fxFlex="33.33%">
           
            <mat-form-field>
              <input matInput name="name" placeholder="Project Status" formControlName="name" #name required>
            </mat-form-field>
            <br>
            <section align="start">
             
            </section>
            <mat-form-field>
              <textarea matInput rows="5" placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxFlex="33.33%">
            <mat-checkbox class="example-margin" formControlName="isActive">Is Active ?</mat-checkbox>
            <mat-checkbox class="example-margin" formControlName="isDefault">Is Default?</mat-checkbox>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    </form>

    