<div fxLayout="row" class="ml-05 mr-05">
    <div fxFlex="50">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxFlex="50" fxLayoutAlign="end center">
        <button mat-raised-button type="button" (click)="back()" >Back</button>
    </div>
</div>

<mat-card class="btn-action">
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <div fxFlex="100" style="line-height: 2.5;">
                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Official Site Name</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.officialSiteName}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Admin Code</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.adminCode}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Hub Site</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.hubSite}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>SRAN Name</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.sRANName}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>RNC Name</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.rncName}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>BTS Name</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.bTSNameNoTec}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Edotco Name</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.edotcoName}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Product Type</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.productType}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Site Category</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.siteCategory}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Longitude</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.longitude}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Latitude</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.latitude}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>IBS Site</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.ibsSit}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Net Eco</strong>
                            </div>
                            <div fxFlex>
                                : <span style="color:blue">{{site?.netEco}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Critical Site</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.criticalSite}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>VIP</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.vip}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>e/iMacro BBU</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.e_iMacroBBUName}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Subcon</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.subcon}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>TCU</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.tcu}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Site Owner</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.siteOwner}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Province</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.province}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Area Locatio</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.areaLocation}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>BCS IP</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{site?.bscIP}}</span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100%">
            <h5 class="underline-text">HUB SITE</h5>
        </div>
        <!-- <div fxFlex="10%" align="right">
            <button mat-icon-button (click)="toggle()">
                <div *ngIf="show">
                    <mat-icon class="mt-05">keyboard_arrow_right</mat-icon>
                </div>

                <div *ngIf="!(show)">
                    <mat-icon class="mt-05">keyboard_arrow_down</mat-icon>
                </div>
            </button>
        </div> -->
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="mt-1">
        <!-- <div fxFlex="100" *ngFor="let hubChild of site.child; let i=index">
            <mat-card style="line-height: 2.5;">
                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Admin Code</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{hubChild?.adminCode}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Hub Site</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{hubChild?.hubSite}}</span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between">
                            <div fxFlex="100px">
                                <strong>Site Name</strong>
                            </div>
                            <div fxFlex>
                                : <span>{{hubChild?.officialSiteName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>    
        </div> -->
    
        <div fxFlex="100">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z4">

                <ng-container matColumnDef="siteName">
                <mat-header-cell *matHeaderCellDef> Official Site Name </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element?.officialSiteName}} </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="adminCode">
                <mat-header-cell *matHeaderCellDef> Admin Code </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.adminCode}} </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="hubSite">
                <mat-header-cell *matHeaderCellDef> Hub Site </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.hubSite}} </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </div>
    </div>                       
</mat-card>