<form [formGroup]="form" (ngSubmit)="save()">
<div fxLayout="row">
      <div fxFlex="50">
            <app-breadcrumb></app-breadcrumb>
      </div>
      <div fxLayout="row" fxLayoutGap="8px" fxFlex="50" fxLayoutAlign="end center">
        <button
          mat-raised-button
          type="button"
          class="mr-05"
          *ngIf="!isLoading"
          routerLink="/employee"> Cancel
        </button>
        <button-loading
          [loadingText]="'Saving...'"
          color="primary"
          [type]="'submit'"
          [loading]="isLoading"> Save
        </button-loading>

      </div>
</div>
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-between" class="order-info">
          <div fxLayout="column" fxFlex="33.33%">
            <mat-form-field>
              <input matInput placeholder="Name" formControlName="name" required #name/>
            </mat-form-field>
            <mat-radio-group formControlName="gender" fxLayoutAlign="start start"  fxLayoutGap="10px">
              <label for="Gender"> Gender </label>
              <mat-radio-button value="M">Male</mat-radio-button>
              <mat-radio-button value="F">Female</mat-radio-button>
            </mat-radio-group>
            <mat-form-field>
              <input matInput placeholder="Phone Number" formControlName="phone" type="number">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Position" formControlName="position">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Department" formControlName="department">
            </mat-form-field>
           
            <mat-form-field>
              <textarea matInput rows="5" placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
          </div>
        </div>
      
      </mat-card-content>
    </mat-card>
    </form>

    